@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  outline: none !important;
}
body {
  font-size: 16px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: "Stick", sans-serif;
  background: var(--main);
}
:root {
  --open: "Open Sans", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
  --primary: #2e0327;
  --secondary: #ffc827;
  --main: #350b2d;
  --font: #1f1f23;
  --shadow: -3.828px -3.828px 6px 0px rgb(255 200 39 / 40%),
    3px 5px 8px 0px rgb(255 82 1 / 20%);
  --bg: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
  --white: #fff;
  --black: #000;
}
span {
  display: inline-block;
  line-height: 1.7;
}
.gap-30 {
  gap: 30px;
}
.my-4 {
  margin-top: 0.5rem !important;
}
.bg-img {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  position: relative;
}
.cmn-btn.btn2 {
  padding: 10px 25px !important;
  font-size: 15px;
  border-radius: 0px;
  margin-top: 25px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  line-height: 1.4;
  color: #fff;
  text-transform: capitalize;
  font-family: "Stick", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: all ease 0.3s;
}
.sticky {
  position: sticky;
  top: 0;
  animation: fadeout 0.3s linear;
  background-color: var(--primary);
  border-bottom: 1px solid rgba(255, 200, 39, 0.2);
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------------------ header ------------------------------ */

.logo img {
  max-width: 180px;
  max-height: 60px;
}
header {
  background-color: var(--primary);
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}
.menu li a:hover {
  color: var(--secondary);
}
.menu li a {
  display: block;
  padding: 4px 15px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  font-family: var(--josefin);
  color: var(--white);
  position: relative;
  cursor: pointer;
}
.menu li {
  position: relative;
}
.has-submenu {
  margin-right: 20px !important;
}
.has-submenu > a::after {
  position: absolute;
  content: "\f107";
  font-family: fontAwesome;
  right: -6px;
  top: 8%;
}
.submenu {
  visibility: hidden;
  opacity: 0;
  transform: translatey(20px);
  background-color: var(--main);
  position: absolute;
  top: 120%;
  right: 0;
  min-width: 230px;
  z-index: 11;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 200, 39, 0.4);
  box-shadow: 0 3px 12px 3px rgb(255 82 1 / 10%);
}
.menu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translatey(0px);
}
.submenu li a:hover {
  background-color: var(--secondary);
  color: var(--black) !important;
  padding-left: 20px;
}
.submenu li a {
  font-size: 14px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}
/* ------------------------------ header ------------------------------ */

/* ------------------------------ main-banner ------------------------------ */

.main-banner {
  position: relative;
  background: url("/assets/images/banner-bg.png") center;
  padding: 80px 80px;
}
.bg-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--primary);
  opacity: 0.9;
}
.banner-content {
  max-width: 700px;
  position: relative;
}
.banner-thumbnail {
  border-radius: 10px;
  max-width: 400px;
}

.banner-thumbnail image {
  border-radius: 50px;
}
.main-banner .container {
  z-index: 1;
  position: relative;
}
.banner-title {
  font-size: 70px;
  font-weight: 700;
  color: var(--white);
  font-family: var(--josefin);
  line-height: 1.5;
}
.text-base {
  text-shadow: 3px -4px 8px rgb(255 200 39 / 30%);
  color: #ffc827;
}
.banner-subtitle {
  font-size: 22px;
  max-width: 550px;
}

.cmn-btn {
  margin: 5px 10px !important;
  padding: 12px 35px !important;
  background: var(--bg);
  box-shadow: var(--shadow);
  position: relative;
  color: var(--font) !important;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--josefin);
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  display: inline-block;
}
.cmn-btn i {
  margin-right: 10px !important;
  transform: translateY(2px);
}
.cmn-btn:hover {
  box-shadow: 11px 11px 32px rgb(255 82 1 / 20%),
    -11px -11px 32px rgb(255 200 39 / 40%);
}
.btn1:hover::before {
  top: -100px;
}
.btn1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -5px;
  z-index: -1;
  transition: all ease 0.3s;
  background: #ffc827;
}
.banner-content .shape1 {
  position: absolute;
  top: -100px;
  left: -150px;
  max-width: 250px;
  opacity: 0.25;
  z-index: -1;
}

/* ------------------------------ main-banner ------------------------------ */

/* ------------------------------ about-section ------------------------------ */

.padding-130 {
  padding: 130px 0px;
}
.sec-head-title {
  color: #fff;
  margin-bottom: 15px !important;
  position: relative;
  font-size: 50px;
  font-family: var(--josefin);
  font-weight: 700;
  line-height: 1.4;
}
.section-head p {
  font-size: 19px;
  /* margin-bottom: 15px; */
}
.shapes .shape1 {
  position: absolute;
  top: 30px;
  opacity: 0.1;
  left: 50px;
  max-width: 300px;
  z-index: -1;
}

/* ------------------------------ about-section ------------------------------ */

/* ------------------------------ game-section ------------------------------ */

.game-section {
  background-image: url("/assets/images/game-bg.jpg");
}
.game-item {
  text-align: center;
  padding: 35px 40px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all ease 0.3s;
  background: #350b2d;
  box-shadow: var(--shadow);
}
.game-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #350b2d;
  opacity: 0.9;
}
.game-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("/assets/images/game-product-bg.png");
  border-radius: 10px;
  z-index: -1;
}
.game-item .game-inner {
  position: relative;
  z-index: 1;
}
.game-item-img {
  width: 100%;
  height: 140px;
  margin: 0 auto 25px !important;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 7px;
  background: var(--primary);
  padding: 10px;
}
.game-item-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.game-item-content h4 {
  margin-bottom: 15px !important;
}
.invest-info {
  text-transform: uppercase;
  font-size: 18px;
}
.invest-amount {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--secondary);
}
.game-item .ball {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all ease 0.3s;
  box-shadow: var(--shadow);
}
.game-item:hover .ball {
  width: 50px;
  height: 50px;
}

/* ------------------------------ game-section ------------------------------ */

/* ------------------------------ service-section ------------------------------ */

.why-item {
  max-width: 350px;
  margin-top: 24px !important;
}
.why-img {
  background: var(--bg);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
  border: 6px solid #350b2d;
  font-size: 26px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 20px !important;
}
.why-content h4 {
  margin-bottom: 7px;
  font-size: 26px;
}
.shape2 {
  position: absolute;
  left: -100px;
  top: 100px;
  z-index: -1;
  opacity: 0.1;
}

/* ------------------------------ service-section ------------------------------ */

/* ------------------------------ how-section ------------------------------ */

.how-section {
  background: url("/assets/images/how-bg.jpg");
}
.how-item {
  text-align: center;
  padding: 0 25px;
  position: relative;
}
.how-item-thumb {
  width: 120px;
  height: 120px;
  font-size: 35px;
  background: #350b2d;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 30px !important;
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
}
.title {
  margin-bottom: 5px;
  transition: all 0.3s ease;
  font-family: var(--josefin);
}
.how-item:hover .title {
  color: var(--secondary);
}
.how-item:hover .how-item-thumb {
  background-color: var(--secondary);
  color: var(--font);
}
.how-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border: 1px dotted var(--secondary);
  top: 60px;
}
.how-section .col-sm-6:nth-child(3) .how-item::before {
  display: none;
}

/* ------------------------------ how-section ------------------------------ */

/* ------------------------------ how-section ------------------------------ */

.faq-item {
  height: auto;
  padding: 10px 25px;
  background: var(--primary);
  border: 1px solid rgba(255, 200, 39, 0.15);
  margin-bottom: 10px !important;
}
.faq-item-title {
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}
.faq-item-title::after {
  content: "\f107";
  font-family: fontAwesome;
  position: absolute;
  right: 0;
  font-size: 18px;
  top: 7px;
}
.faq-item-content {
  padding: 10px 0;
  text-align: justify;
  display: none;
}

/* ------------------------------ how-section ------------------------------ */

/* ------------------------------ top-section ------------------------------ */

/* .top-section{
    background: url('/assets/images/top-bg.png');
}
.part-title{
    font-size: 20px;
    text-align: center;
} */

/* ------------------------------ top-section ------------------------------ */

/* ------------------------------ testimonial-section ------------------------------ */

.testimonial-item {
  background: url("/assets/images/test-bg.png");
  box-shadow: var(--shadow);
  text-align: center;
  padding: 30px;
  position: relative;
}
.testimonial-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2e0327;
  opacity: 0.95;
}
.test-item-content {
  margin-bottom: 25px !important;
  position: relative;
}
.quote-icon {
  font-size: 50px;
  line-height: 1;
  color: var(--secondary);
  margin-bottom: 10px !important;
}
.test-thumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.test-thumb .thumb {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--secondary);
}
.name {
  transition: all 0.3s linear;
}
.content {
  text-align: left;
  padding-left: 18px;
}
.test-thumb .designation {
  font-size: 16px;
  color: var(--secondary);
  text-transform: capitalize;
}

/* ------------------------------ testimonial-section ------------------------------ */

/* ------------------------------ footer-section ------------------------------ */

.footer-section {
  background: url("/assets/images/footer-bg.jpg");
  padding: 40px 0px;
}
.footer-bottom {
  padding-top: 25px;
  margin-top: 20px !important;
  border-top: 1px solid rgba(255, 200, 39, 0.1);
  position: relative;
}

/* ------------------------------ footer-section ------------------------------ */

/* ------------------------------ breadcrumb ------------------------------ */

.breadcrumb {
  background: url("/assets/images/footer-bg.jpg");
}
.breadcrumb h2 {
  font-size: 50px;
}
.breadcrumbs {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.breadcrumbs li {
  padding: 3px 10px;
  text-transform: capitalize;
}
.breadcrumbs li a {
  position: relative;
  padding-right: 35px;
  text-transform: capitalize;
}
.breadcrumbs li a::after {
  position: absolute;
  font-weight: 900;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  font-size: 18px;
  right: 0;
  top: 2px;
  color: #fff;
}

/* ------------------------------ breadcrumb ------------------------------ */

/* ------------------------------ breadcrumb ------------------------------ */

.contact-wrapper {
  padding: 60px 40px;
}
.contact-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  left: 300px;
  background: #2e0327;
}
.contact-info-wrapper {
  padding: 60px 40px;
  border: 1px solid rgba(255, 200, 39, 0.3);
  background: #350b2d;
  position: relative;
  z-index: 1;
}
.contact-info-list {
  font-size: 17px;
}
.contact-info-list li {
  display: flex;
  padding: 10px 0;
}
.contact-info-list li i {
  color: #ffc827;
  font-size: 24px;
  margin-right: 25px !important;
  margin-top: 5px !important;
}

.social-links li {
  padding: 5px;
}
.social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 17px;
  color: #ffc827;
  border-radius: 50%;
  box-shadow: -3.828px -3.828px 6px 0px rgb(255 200 39 / 40%),
    3px 5px 8px 0px rgb(255 82 1 / 20%);
}
.social-links li a:hover {
  color: #fff;
  background: #ffc827;
  box-shadow: 3.828px 3.828px 6px 0px rgb(255 200 39 / 40%),
    3px 5px 8px 0px rgb(255 82 1 / 20%);
}
.contact-form {
  position: relative;
  z-index: 1;
}
.form--con {
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background: #350b2d;
}
.form-control:focus {
  color: #fff;
  background: #350b2d !important;
  border: 1px solid rgba(255, 200, 39, 0.6) !important;
  box-shadow: none !important;
}
textarea {
  height: 150px !important;
}
.contact-form .cmn-btn {
  margin: 0 !important;
  margin-top: 15px !important;
  font-size: 18px !important;
}

/* ------------------------------ breadcrumb ------------------------------ */
